.header-nav {
  width: 100%;
  padding: 20px;
  margin-bottom: 14px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text {
  font-size: 1.4rem;
  color: #888;
  &:hover {
    color: #6588f7;
  }
}
