.todoitem {
  position: relative;
  width: 100%;
  height: 50px;
  padding-bottom: 24px;
}

.todoitem-icon {
  position: absolute;
  top: 50%;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background: tomato;
  transform: translateY(-50%);
}

.todoitem-text {
  position: absolute;
  top: 50%;
  left: 36px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  transform: translateY(-50%);

  &.active {
    text-decoration: solid line-through #aaa 2px;
    color: #aaa;
  }
}

.todoitem-checkbox {
  appearance: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #aaa;
  transform: translateY(-50%);

  &:checked {
    border-color: transparent;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #6588f7;
  }
}
