.todohead-box {
  display: flex;
  flex-direction: column;
}

.todohead-title {
  & + & {
    margin-top: 14px;
  }

  &.small {
    display: block;
    padding-left: 20px;
    font-size: 1rem;
    font-weight: 800;
    color: #aaa;
  }

  &.large {
    display: block;
    padding-left: 20px;
    font-size: 2.7rem;
    font-weight: 800;
    color: #333;
  }
}

.todohead-date-list {
  width: 100%;
  height: 100%;
  padding: 20px;
  margin-top: 14px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 24px 35px -24px rgba(211, 211, 211, 0.98);
}
.todohead-date-item {
  position: relative;
  width: 24px;
  height: 100%;
  text-align: center;
  cursor: pointer;

  .date-day {
    padding-bottom: 16px;
    display: block;
    font-size: 0.925rem;
    font-weight: 800;
    color: #aaa;
  }

  .date-num {
    display: block;
    font-size: 1.05rem;
    font-weight: bold;
    color: #333;
  }

  .date-icon {
    position: absolute;
    bottom: -28px;
    left: 5.5px;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background: rgb(101, 136, 247);

    @keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s;
  }
}
